<nav>
  <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a>Welcome, <%= current_user.email %></a></li>
      <li><%= link_to  "Admin Portal", cities_path %> </li>
      <li><%= link_to  "Add New City", new_city_path %> </li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </div>
</nav>
<div class="interests">
  <h1>Add Categories</h1>
  <%= form_for @interest, {controller: "interests", action: "new"} do |f| %>
    <p><%= f.label :interest_title %>
    <%= f.text_field :interest_title%>
  <%= f.submit nil, class: "waves-effect waves-light btn" %>
  <% end %>
</div>

<% @interests.each do |interest| %>
  <%= form_for interest, remote:true do |f| %>
  <%= f.hidden_field :interest_id, value: @interest.id %>
  <span class='waves-effect waves-light btn'>
    <% f.submit %>
    <%= interest.interest_title %>
  </span>
  <% end %>
<% end %>
