<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><p>Welcome, <%= current_user.email %></p></li>
      <% if current_user.admin == true %>
      <li><%= link_to  "View Cities", cities_path %> </li>
      <li><%= link_to  "Add New City", new_city_path %> </li>
      <li><%= link_to  "Manage Categories", new_interest_path %> </li>
      <% end %>
      <li><%= link_to  "View Itineraries", itineraries_path %> </li>
      <li><%= link_to  "Add New Itinerary", new_itinerary_path %> </li>
      <li><%= link_to  "Profile", account_preference_path(@account, @preference) %> </li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </div>
</nav>
  <h1>Add Interest</h1>
<div class="interests">
  <%= form_for @interest, {controller: "interests", action: "new"} do |f| %>
    <p><%= f.label :interest_title %>
    <%= f.text_field :interest_title%>
  <%= f.submit nil, class: "waves-effect waves-light btn" %>
  <% end %>
<h3>Current Interests</h3>
    <% @interests.each do |interest| %>
    <div id="interest-list">
    <%= form_for interest, remote:true do |f| %>
    <%= f.hidden_field :interest_id, value: @interest.id %>
    <span class='waves-effect waves-light btn'>
      <% f.submit %>
      <%= interest.interest_title %>
    </span>
    <% end %>
  <% end %>
  </div>
</div>

<div class="pattern">

</div>
