<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><p>Welcome, <%= current_user.email %></p></li>
      <li><%= link_to  "Add New Itinerary", new_itinerary_path %> </li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </div>
</nav>
<div class="length">
  <%= form_for [@account, @preference] do |f| %>
    <h3>Is this your first trip to Japan?</h3>
    <%= f.select :firsttime,['Yes', 'No'] %>
  <h3>How long will you be traveling?</h3>
  <%= f.number_field :length, :class => "form-length", placeholder: "days" %>
  <h3>What are you most interested in?</h3>
  <%= f.collection_select :interest_ids, Interest.all, :id, :interest_title,{ class: "browser-default"}, { :multiple => true } %>
  <br>
  <%= f.submit "Go",  :class => "waves-effect waves-light btn" %>
<% end %>
</div>
<div class="background2">

</div>
