<nav>
  <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a>Welcome, <%= current_user.email %></a></li>
      <li><%= link_to  "Admin Portal", cities_path %> </li>
      <li><%= link_to  "Add New City", new_city_path %> </li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </div>
</nav>
<div class="addcity">
  <%= form_for [@city] do |f| %>
    <p><%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= f.label :length %>
    <%= f.text_field :length %>
  <%= f.submit nil, class: "waves-effect waves-light btn" %>
  <% end %>
</div>
