<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user.admin == true %>
      <li><%= link_to  "View Cities", cities_path %> </li>
      <li><%= link_to  "Add New City", new_city_path %> </li>
      <li><%= link_to  "Manage Categories", new_interest_path %> </li>
      <% end %>
      <li><%= link_to  "View Itineraries", itineraries_path %> </li>
      <li><%= link_to  "Add New Itinerary", new_itinerary_path %> </li>
      <li><%= link_to current_user.email, account_path(@account) %></p></li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </div>
</nav>
<h1 class="change">Edit <%= @city.name %></h1>
<div class="editcity">
  <%= form_for [@city] do |f| %>
    <p><%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= f.label :length %>
    <%= f.text_field :length %>
    <%= f.submit nil, class: "waves-effect waves-light btn" %>
    <% end %>
</div>
