<nav>
  <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a>Welcome, <%= current_user.email %></a></li>
      <li><%= link_to  "Add New City", new_city_path %> </li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </div>
</nav>

<h1>Cities in Database</h1>
<% if current_user.admin == true %>
<div class="showcities">
  <h4>There are currently: <%= @cities.count %></h4>
  <% @cities.each do |city| %>
  <h3><%= link_to city.name, city_path(city)%></h3>
  <% end %>
</div>
<% end %>
