<nav>
  <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a>Welcome, <%= current_user.email %></a></li>
      <li><%= link_to  "Admin Portal", cities_path %> </li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </div>
</nav>
<%= render('layouts/errors', :object => @city) %>
<h1>New City</h1>
<div class=row>
  <div class="col s8">
    <div class="addcity">
      <%= form_for [@city] do |f| %>
        <p><%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :description %>
        <%= f.text_area :description %>
        <%= f.label :length %>
        <%= f.text_field :length %>
        <%= f.collection_select(:interests_id, Interest.all, :id, :interest_title)%>
      <%= f.submit nil, class: "waves-effect waves-light btn" %>
      <% end %>
    </div>
  </div>
  <div class="col s4">
    <div class="interest">
      <%= form_for [@interest] do |f| %>
        <p><%= f.label :interest %>
        <%= f.text_field :interest_title %>
        <%= f.submit nil, class: "waves-effect waves-light btn" %>
      <% end %>
    </div>
  </div>
</div>
