<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><p>Welcome, <%= current_user.email %></p></li>
      <% if current_user.admin == true %>
      <li><%= link_to  "View Cities", cities_path %> </li>
      <li><%= link_to  "Add New City", new_city_path %> </li>
      <li><%= link_to  "Manage Categories", new_interest_path %> </li>
      <% end %>
      <li><%= link_to  "View Itineraries", itineraries_path %> </li>
      <li><%= link_to  "Add New Itinerary", new_itinerary_path %> </li>
      <li><%= link_to  "Profile", account_preference_path(@account, @preference) %> </li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </div>
</nav>
<div class="showcities">
  <h3><%= @city.name %></h3>
  <h4>Recommended Stay: <%=@city.length%> days</h4>
  <p><%= @city.description %></p>
  <p><%= link_to "Edit", edit_city_path(@city) %> |
    <%= link_to "Delete City", city_path(@city),
                        :data => {:confirm => "Are you sure?",

                                       :method => "delete"} %></p>
<h2>Current Interests</h2>
<% @city.interests.each do |x| %>
<%= x.interest_title %><br>
<% end%>
<h2>Add Interests</h2>
  <%= form_for @city do |f|  %>
  <%= f.collection_select :interest_ids, Interest.all, :id, :interest_title,{ class: "browser-default"},{ :multiple => true } %>
  <br>
 <%= f.submit nil, class: "waves-effect waves-light btn" %>
 <% end %>
</div>
