<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user.admin == true %>
      <li><%= link_to  "View Cities", cities_path %> </li>
      <li><%= link_to  "Add New City", new_city_path %> </li>
      <li><%= link_to  "Manage Categories", new_interest_path %> </li>
      <% end %>
      <li><%= link_to  "View Itineraries", itineraries_path %> </li>
      <li><%= link_to  "Add New Itinerary", new_itinerary_path %> </li>
      <li><%= link_to current_user.email, account_path(@account) %></p></li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </div>
</nav>
<h1>Preferences</h1>
<div class="length">
    <h5>Trip Duration:</h5>
    <p><%= @preference.length %> days</p>
    <h5>Interests:</h5>
    <% @preference.interests.each do |x| %>
    <p><%= x.interest_title %></p>
    <%end%>
    <h5>This is my first time to Japan:</h5>
    <p><%= @preference.firsttime %></p>
    <p><%= link_to "Edit", edit_account_preference_path(@preference) %></p>
</div>
<div class="background2">
</div>
